
<html>
<head>
  <title>Thank You</title>
</head>
<body>
  <div style="text-align: center; padding: 50px;">
    <h1>Thank you for submitting the details!</h1>
    <p>Your information has been successfully received.</p>
    <a href="/">Return to Form for another response</a>
  </div>
  
</body>
</html>

{{#if create_user}}

<pre>{{{ create_user }}}</pre>
{{/if}}
